{
  "specversion": "1.0.2",
  "type": "notifications.drawer",
  "source": "https://whatever.service.com",
  "id": "{{ id }}",
  "time": "{{ time }}",
  "datacontenttype": "application/json",
  "data": {
    "broadcast": true,
    "payload": {
      "id": "{{ payload_id }}",
      "description": "string",
      "title": "{{ title }}",
      "created": "{{ time }}",
      "read": false,
      "source": "string"
    }
  }
}
