{
    "operation": "add_host",
    "data": {
        "org_id": "{{ orgid }}",
        "insights_id": "{{ insights_id }}",
        "tags": [],
        "per_reporter_staleness": {
            "puptoo": {
                "last_check_in": "{{ nowz }}",
                "stale_timestamp": "{{ tommorowz }}",
                "check_in_succeeded": true
            },
            "rhsm-conduit": {
                "last_check_in": "{{ nowz }}",
                "stale_timestamp": "{{ tommorowz }}",
                "check_in_succeeded": true
            },
            "cloud-connector": {
                "last_check_in": "{{ nowz }}",
                "stale_timestamp": "{{ tommorowz }}",
                "check_in_succeeded": true
            }
        },
        "stale_warning_timestamp": "{{ tommorowz }}",
        "culled_timestamp": "{{ tommorowz }}",
        "ip_addresses": [
            "{{ ipv4_addr }}",
            "{{ ipv6_addr }}"
        ],
        "system_profile": {
            "arch": "x86_64",
            "rhsm": {
                "version": ""
            },
            "owner_id": "440f5eb0-20a4-48b7-a3cd-5482203b5524",
            "cpu_flags": [
                "aes",
                "apic",
                "arat",
                "arch_capabilities",
                "avx",
                "clflush",
                "cmov",
                "constant_tsc",
                "cpuid",
                "cpuid_fault",
                "cx16",
                "cx8",
                "de",
                "fpu",
                "fxsr",
                "hypervisor",
                "ibpb",
                "ibrs",
                "lahf_lm",
                "lm",
                "mca",
                "mce",
                "md_clear",
                "mmx",
                "msr",
                "mtrr",
                "nopl",
                "nx",
                "pae",
                "pat",
                "pcid",
                "pclmulqdq",
                "pdcm",
                "pdpe1gb",
                "pge",
                "pni",
                "popcnt",
                "pse",
                "pse36",
                "pti",
                "rdtscp",
                "rep_good",
                "sep",
                "ssbd",
                "sse",
                "sse2",
                "sse4_1",
                "sse4_2",
                "ssse3",
                "stibp",
                "syscall",
                "tsc",
                "tsc_adjust",
                "tsc_deadline_timer",
                "tsc_known_freq",
                "umip",
                "vme",
                "x2apic",
                "xsave",
                "xsaveopt",
                "xtopology"
            ],
            "cpu_model": "Intel Xeon E312xx (Sandy Bridge, IBRS update)",
            "host_type": "edge",
            "yum_repos": {{ yum_repos|tojson }},
            "os_release": "8.4",
            "bios_vendor": "SeaBIOS",
            "bios_version": "1.13.0-2.module+el8.3.0+7353+9de0a3cc",
            "captured_date": "2022-04-29T08:53:11+00:00",
            "rhc_client_id": "440f5eb0-20a4-48b7-a3cd-5482203b5524",
            "kernel_modules": [
                "ahci",
                "binfmt_misc",
                "cdrom",
                "crc32_pclmul",
                "crc32c_intel",
                "crct10dif_pclmul",
                "dm_log",
                "dm_mirror",
                "dm_mod",
                "dm_region_hash",
                "drm",
                "drm_kms_helper",
                "drm_ttm_helper",
                "failover",
                "fb_sys_fops",
                "fuse",
                "ghash_clmulni_intel",
                "i2c_i801",
                "iTCO_vendor_support",
                "iTCO_wdt",
                "inet_diag",
                "intel_rapl_common",
                "intel_rapl_msr",
                "ip_set",
                "ip_tables",
                "joydev",
                "ledtrig_audio",
                "libahci",
                "libata",
                "libcrc32c",
                "lpc_ich",
                "net_failover",
                "nf_conntrack",
                "nf_defrag_ipv4",
                "nf_defrag_ipv6",
                "nf_nat",
                "nf_reject_ipv4",
                "nf_reject_ipv6",
                "nf_tables",
                "nf_tables_set",
                "nfnetlink",
                "nft_chain_nat",
                "nft_ct",
                "nft_fib",
                "nft_fib_inet",
                "nft_fib_ipv4",
                "nft_fib_ipv6",
                "nft_reject",
                "nft_reject_inet",
                "pcspkr",
                "qxl",
                "rapl",
                "serio_raw",
                "sg",
                "snd",
                "snd_compress",
                "snd_hda_codec",
                "snd_hda_codec_generic",
                "snd_hda_core",
                "snd_hda_intel",
                "snd_hwdep",
                "snd_intel_dspcfg",
                "snd_pcm",
                "snd_soc_core",
                "snd_timer",
                "soundcore",
                "soundwire_bus",
                "soundwire_cadence",
                "soundwire_generic_allocation",
                "soundwire_intel",
                "sr_mod",
                "syscopyarea",
                "sysfillrect",
                "sysimgblt",
                "tcp_diag",
                "ttm",
                "udp_diag",
                "virtio_balloon",
                "virtio_blk",
                "virtio_console",
                "virtio_net",
                "xfs"
            ],
            "last_boot_time": "2022-04-28T12:52:11+00:00",
            "number_of_cpus": 1,
            "cores_per_socket": 1,
            "enabled_services": [
                "auditd",
                "autovt",
                "chrony-dnssrv",
                "chronyd",
                "clevis-luks-askpass",
                "container-getty",
                "dbus-org.fedoraproject.FirewallD1",
                "dbus-org.freedesktop.hostname1",
                "dbus-org.freedesktop.locale1",
                "dbus-org.freedesktop.login1",
                "dbus-org.freedesktop.ModemManager1",
                "dbus-org.freedesktop.nm-dispatcher",
                "dbus-org.freedesktop.portable1",
                "dbus-org.freedesktop.timedate1",
                "dbus",
                "dm-event",
                "dnf-makecache",
                "dracut-cmdline",
                "dracut-initqueue",
                "dracut-mount",
                "dracut-pre-mount",
                "dracut-pre-pivot",
                "dracut-pre-trigger",
                "dracut-pre-udev",
                "dracut-shutdown",
                "emergency",
                "firewalld",
                "fstrim",
                "fwupd-offline-update",
                "fwupd-refresh",
                "fwupd",
                "getty",
                "greenboot-grub2-set-counter",
                "greenboot-grub2-set-success",
                "greenboot-healthcheck",
                "greenboot-rpm-ostree-grub2-check-fallback",
                "greenboot-status",
                "greenboot-task-runner",
                "grub-boot-indeterminate",
                "halt-local",
                "import-state",
                "initrd-cleanup",
                "initrd-parse-etc",
                "initrd-switch-root",
                "initrd-udevadm-cleanup-db",
                "insights-client-boot",
                "insights-client-results",
                "insights-client",
                "kmod-static-nodes",
                "ldconfig",
                "loadmodules",
                "lvm2-lvmpolld",
                "lvm2-monitor",
                "lvm2-pvscan",
                "mdadm-grow-continue",
                "mdadm-last-resort",
                "mdcheck_continue",
                "mdcheck_start",
                "mdmon",
                "mdmonitor-oneshot",
                "mdmonitor",
                "messagebus",
                "microcode",
                "ModemManager",
                "NetworkManager-dispatcher",
                "NetworkManager-wait-online",
                "NetworkManager",
                "nis-domainname",
                "ostree-finalize-staged",
                "ostree-prepare-root",
                "ostree-remount",
                "podman",
                "polkit",
                "quotaon",
                "rc-local",
                "rdma-load-modules",
                "rdma-ndd",
                "redboot-auto-reboot",
                "redboot-task-runner",
                "rescue",
                "rhcd",
                "rhsmcertd",
                "rpm-ostreed-automatic",
                "rpm-ostreed",
                "selinux-autorelabel-mark",
                "selinux-autorelabel",
                "sshd",
                "sshd",
                "system-update-cleanup",
                "systemd-ask-password********",
                "systemd-backlight",
                "systemd-binfmt",
                "systemd-coredump",
                "systemd-exit",
                "systemd-firstboot",
                "systemd-fsck-root",
                "systemd-fsck",
                "systemd-halt",
                "systemd-hibernate-resume",
                "systemd-hibernate",
                "systemd-hostnamed",
                "systemd-hwdb-update",
                "systemd-hybrid-sleep",
                "systemd-initctl",
                "systemd-journal-catalog-update",
                "systemd-journal-flush",
                "systemd-journald",
                "systemd-kexec",
                "systemd-localed",
                "systemd-logind",
                "systemd-machine-id-commit",
                "systemd-modules-load",
                "systemd-portabled",
                "systemd-poweroff",
                "systemd-quotacheck",
                "systemd-random-seed",
                "systemd-reboot",
                "systemd-remount-fs",
                "systemd-rfkill",
                "systemd-suspend-then-hibernate",
                "systemd-suspend",
                "systemd-sysctl",
                "systemd-sysusers",
                "systemd-tmpfiles-clean",
                "systemd-tmpfiles-setup-dev",
                "systemd-tmpfiles-setup",
                "systemd-udev-settle",
                "systemd-udev-trigger",
                "systemd-udevd",
                "systemd-update-done",
                "systemd-update-utmp-runlevel",
                "systemd-update-utmp",
                "systemd-user-sessions",
                "systemd-vconsole-setup",
                "systemd-volatile-root",
                "timedatex",
                "udisks2",
                "unbound-anchor",
                "user-runtime-dir",
                "user"
            ],
            "greenboot_status": "green",
            "operating_system": {
                "name": "RHEL",
                "major": 8,
                "minor": 4
            },
            "rhc_config_state": "8cd0959e-2bbf-4c8b-bb8a-c386223ff28a",
            "bios_release_date": "04/01/2014",
            "number_of_sockets": 1,
            "os_kernel_version": "4.18.0",
            "running_processes": [
                "(sd-pam)",
                "ModemManager",
                "NetworkManager",
                "acpi_thermal_pm",
                "agetty",
                "ata_sff",
                "auditd",
                "bash",
                "blkcg_punt_bio",
                "chronyd",
                "cpuhp/0",
                "crypto",
                "dbus-daemon",
                "edac-poller",
                "firewalld",
                "hwrng",
                "insights-client",
                "ipv6_addrconf",
                "irq/24-aerdrv",
                "irq/24-pciehp",
                "irq/25-aerdrv",
                "irq/25-pciehp",
                "irq/26-aerdrv",
                "irq/26-pciehp",
                "irq/27-aerdrv",
                "irq/27-pciehp",
                "irq/28-aerdrv",
                "irq/28-pciehp",
                "irq/29-aerdrv",
                "irq/29-pciehp",
                "irq/30-aerdrv",
                "irq/30-pciehp",
                "kaluad",
                "kauditd",
                "kblockd",
                "kcompactd0",
                "kdevtmpfs",
                "khugepaged",
                "khungtaskd",
                "kintegrityd",
                "kmpath_rdacd",
                "ksmd",
                "ksoftirqd/0",
                "kstrp",
                "kswapd0",
                "kthreadd",
                "kthrotld",
                "kworker/0:0-mm_percpu_wq",
                "kworker/0:0H-events_highpri",
                "kworker/0:1-events",
                "kworker/0:1H-kblockd",
                "kworker/u2:0-flush-252:0",
                "kworker/u2:5-events_unbound",
                "md",
                "migration/0",
                "mm_percpu_wq",
                "netns",
                "oom_reaper",
                "platform-python",
                "polkitd",
                "ps",
                "rcu_gp",
                "rcu_par_gp",
                "rcu_sched",
                "rhc-worker-play",
                "rhcd",
                "rhsmcertd",
                "scsi_eh_0",
                "scsi_eh_1",
                "scsi_eh_2",
                "scsi_eh_3",
                "scsi_eh_4",
                "scsi_eh_5",
                "scsi_tmf_0",
                "scsi_tmf_1",
                "scsi_tmf_2",
                "scsi_tmf_3",
                "scsi_tmf_4",
                "scsi_tmf_5",
                "sshd",
                "sudo",
                "systemd",
                "systemd-journal",
                "systemd-logind",
                "systemd-udevd",
                "timeout",
                "tpm_dev_wq",
                "ttm_swap",
                "udisksd",
                "watchdog/0",
                "watchdogd",
                "writeback",
                "xfs-buf/vda1",
                "xfs-buf/vda3",
                "xfs-cil/vda1",
                "xfs-cil/vda3",
                "xfs-conv/vda1",
                "xfs-conv/vda3",
                "xfs-eofblocks/v",
                "xfs-log/vda1",
                "xfs-log/vda3",
                "xfs-reclaim/vda",
                "xfs_mru_cache",
                "xfsaild/vda1",
                "xfsaild/vda3",
                "xfsalloc"
            ],
            "satellite_managed": false,
            "installed_packages": {{ installed_packages }},
            "installed_products": [
                {
                    "id": "479"
                }
            ],
            "installed_services": [
                "auditd",
                "autovt@",
                "blk-availability",
                "chrony-dnssrv@",
                "chrony-wait",
                "chronyd",
                "clevis-luks-askpass",
                "console-getty",
                "container-getty@",
                "dbus-org.fedoraproject.FirewallD1",
                "dbus-org.freedesktop.hostname1",
                "dbus-org.freedesktop.locale1",
                "dbus-org.freedesktop.login1",
                "dbus-org.freedesktop.ModemManager1",
                "dbus-org.freedesktop.nm-dispatcher",
                "dbus-org.freedesktop.portable1",
                "dbus-org.freedesktop.timedate1",
                "dbus",
                "debug-shell",
                "dm-event",
                "dnf-makecache",
                "dnsmasq",
                "dracut-cmdline",
                "dracut-initqueue",
                "dracut-mount",
                "dracut-pre-mount",
                "dracut-pre-pivot",
                "dracut-pre-trigger",
                "dracut-pre-udev",
                "dracut-shutdown",
                "ebtables",
                "emergency",
                "firewalld",
                "fstrim",
                "fwupd-offline-update",
                "fwupd-refresh",
                "fwupd",
                "getty@",
                "greenboot-grub2-set-counter",
                "greenboot-grub2-set-success",
                "greenboot-healthcheck",
                "greenboot-rpm-ostree-grub2-check-fallback",
                "greenboot-status",
                "greenboot-task-runner",
                "grub-boot-indeterminate",
                "halt-local",
                "import-state",
                "initrd-cleanup",
                "initrd-parse-etc",
                "initrd-switch-root",
                "initrd-udevadm-cleanup-db",
                "insights-client-boot",
                "insights-client-results",
                "insights-client",
                "kmod-static-nodes",
                "ldconfig",
                "loadmodules",
                "lvm2-lvmpolld",
                "lvm2-monitor",
                "lvm2-pvscan@",
                "mdadm-grow-continue@",
                "mdadm-last-resort@",
                "mdcheck_continue",
                "mdcheck_start",
                "mdmon@",
                "mdmonitor-oneshot",
                "mdmonitor",
                "messagebus",
                "microcode",
                "ModemManager",
                "NetworkManager-dispatcher",
                "NetworkManager-wait-online",
                "NetworkManager",
                "nftables",
                "nis-domainname",
                "ostree-finalize-staged",
                "ostree-prepare-root",
                "ostree-remount",
                "podman-auto-update",
                "podman",
                "polkit",
                "quotaon",
                "rc-local",
                "rdisc",
                "rdma-load-modules@",
                "rdma-ndd",
                "redboot-auto-reboot",
                "redboot-task-runner",
                "rescue",
                "rhcd",
                "rhsm-facts",
                "rhsm",
                "rhsmcertd",
                "rpm-ostree-bootstatus",
                "rpm-ostreed-automatic",
                "rpm-ostreed",
                "selinux-autorelabel-mark",
                "selinux-autorelabel",
                "serial-getty@",
                "sshd-keygen@",
                "sshd",
                "sshd@",
                "syslog",
                "system-update-cleanup",
                "systemd-ask-password********",
                "systemd-backlight@",
                "systemd-binfmt",
                "systemd-coredump@",
                "systemd-exit",
                "systemd-firstboot",
                "systemd-fsck-root",
                "systemd-fsck@",
                "systemd-halt",
                "systemd-hibernate-resume@",
                "systemd-hibernate",
                "systemd-hostnamed",
                "systemd-hwdb-update",
                "systemd-hybrid-sleep",
                "systemd-initctl",
                "systemd-journal-catalog-update",
                "systemd-journal-flush",
                "systemd-journald",
                "systemd-kexec",
                "systemd-localed",
                "systemd-logind",
                "systemd-machine-id-commit",
                "systemd-modules-load",
                "systemd-portabled",
                "systemd-poweroff",
                "systemd-quotacheck",
                "systemd-random-seed",
                "systemd-reboot",
                "systemd-remount-fs",
                "systemd-resolved",
                "systemd-rfkill",
                "systemd-suspend-then-hibernate",
                "systemd-suspend",
                "systemd-sysctl",
                "systemd-sysusers",
                "systemd-timedated",
                "systemd-tmpfiles-clean",
                "systemd-tmpfiles-setup-dev",
                "systemd-tmpfiles-setup",
                "systemd-udev-settle",
                "systemd-udev-trigger",
                "systemd-udevd",
                "systemd-update-done",
                "systemd-update-utmp-runlevel",
                "systemd-update-utmp",
                "systemd-user-sessions",
                "systemd-vconsole-setup",
                "systemd-volatile-root",
                "tcsd",
                "timedatex",
                "udisks2",
                "unbound-anchor",
                "usbguard",
                "user-runtime-dir@",
                "user@",
                "wpa_supplicant"
            ],
            "network_interfaces": [
                {
                    "mtu": 1500,
                    "name": "enp1s0",
                    "type": "ether",
                    "state": "UP",
                    "mac_address": "{{ mac_addr }}",
                    "ipv4_addresses": [
                      "{{ ipv4_addr }}"
                     ],
                    "ipv6_addresses": [
                      "{{ ipv6_addr }}"
                     ]
                },
                {
                    "mtu": 65536,
                    "name": "lo",
                    "type": "loopback",
                    "state": "UNKNOWN",
                    "mac_address": "00:00:00:00:00:00",
                    "ipv4_addresses": [
                        "127.0.0.1"
                    ],
                    "ipv6_addresses": [
                        "::1"
                    ]
                }
            ],
            "infrastructure_type": "virtual",
            "selinux_config_file": "enforcing",
            "system_memory_bytes": 1905512448,
            "insights_egg_version": "3.0.271-1",
            "selinux_current_mode": "enforcing",
            "infrastructure_vendor": "kvm",
            "rpm_ostree_deployments": [
                {
                    "id": "rhel-edge-ec3c003da4eafaa971b528b3383d8caff688a110e53af71a85e666cf60b4ed20.0",
                    "booted": true,
                    "origin": "rhel-edge:rhel/8/x86_64/edge",
                    "osname": "rhel-edge",
                    "pinned": false,
                    "checksum": "{{ os_tree_commit }}"
                },
                {
                    "id": "rhel-edge-663656b6b434510476350d32c7883432b14713476f75eab21558e2fd99337b4a.0",
                    "booted": false,
                    "origin": "rhel-edge:rhel/8/x86_64/edge",
                    "osname": "rhel-edge",
                    "pinned": false,
                    "checksum": "663656b6b434510476350d32c7883432b14713476f75eab21558e2fd99337b4a"
                }
            ],
            "insights_client_version": "3.1.5",
            "greenboot_fallback_detected": false
        },
        "updated": "{{ nowz }}",
        "fqdn": "{{ fqdn }}",
        "mac_addresses": [
          "{{ mac_addr }}",
          "00:00:00:00:00:00"
        ],
        "reporter": "puptoo",
        "created": "{{ nowz }}",
        "id": "{{ inventory_id }}",
        "bios_uuid": "{{ bios_uuid }}",
        "stale_timestamp": "{{ tommorowz }}",
        "subscription_manager_id": "{{ subscription_manager_id }}",
        "display_name": "{{ fqdn }}",
        "account": "{{ account }}"
    },
    "platform_metadata": {
        "account": "{{ account }}",
        "category": "collection",
        "content_type": "application/vnd.redhat.advisor.collection+tgz",
        "metadata": {
            "ip_addresses": [{% for addr in ipv4_addr + ipv6_addr %}"{{ addr }}"{% if not loop.last %},{% endif %}{% endfor %}],
            "insights_id": "{{ insights_id }}",
            "machine_id": "{{ machine_id }}",
            "subscription_manager_id": "{{ subscription_manager_id }}",
            "mac_addresses": [{% for addr in mac_addr %}"{{ addr }}"{% if not loop.last %},{% endif %}{% endfor %}],
            "fqdn": "{{ fqdn }}",
            "bios_uuid": "{{ bios_uuid }}",
            "reporter": "ingress",
            "stale_timestamp": "{{ tommorowz }}"
        },
        "request_id": "{{ request_id }}",
        "principal": "{{ account }}",
        "org_id": "{{ orgid }}",
        "service": "advisor",
        "size": 232561,
        "url": "https://XXXXXXXXXXXXX.s3.amazonaws.com/018c78be10954bf689974590c19da741?X",
        "b64_identity": "{{ b64_identity }}",
        "timestamp": "{{ nowz }}",
        "elapsed_time": 1651222420.6388578
    }
}
