{
    "operation":"add_host",
    "data":{
        "account":"{{ account }}",
        "subscription_manager_id":"{{ subscription_manager_id }}",
        "bios_uuid":"{{ bios_uuid }}",
        "ip_addresses":["{{ ipv4_addr }}","{{ ipv6_addr }}","127.0.0.1"],
        "fqdn":"{{ fqdn }}",
        "mac_addresses":["{{ mac_addr }}"],
        "facts":[
            {
                "namespace":"rhsm",
                "facts":{
                    "SYNC_TIMESTAMP":"{{ nowz }}",
                    "IS_VIRTUAL":true,
                    "CPU_SOCKETS":1,
                    "MEMORY":16,
                    "CPU_CORES":2,
                    "ARCHITECTURE":"x86_64",
                    "RH_PROD":["69"],
                    "orgId":"{{ orgid }}"
                }
            }
        ],
        "stale_timestamp": "{{ tommorowz }}",
        "reporter": "test"
    }
}
