{
    "operation":"add_host",
    "data": {
      "account": "{{ account }}",
      "display_name": "{{ fqdn }}",
      "fqdn": "{{ fqdn }}",
      "subscription_manager_id": "{{ subscription_manager_id }}",
      "bios_uuid": "{{ bios_uuid }}",
      "ip_addresses": ["{{ ipv4_addr }}", "{{ ipv6_addr }}", "127.0.0.1"],
      "mac_addresses": ["{{ mac_addr }}"],
      "satellite_id": "{{ satellite_id }}",
      "stale_timestamp": "{{ tommorowz }}",
      "reporter": "yupana",
      "facts": [
        {
          "namespace": "satellite",
          "facts": {
            "satellite_version": "6.7.0",
            "system_purpose_usage": "",
            "system_purpose_role": "",
            "distribution_version": "7.9",
            "satellite_instance_id": "{{ satellite_instance_id }}",
            "organization_id": 1
          }
        }
      ],
      "tags": [
        {
          "namespace": "satellite",
          "key": "satellite_instance_id",
          "value": "{{ satellite_instance_id }}"
        },
        {
          "namespace": "satellite",
          "key": "organization_id",
          "value": "1"
        }
      ],
      "system_profile": {
        "arch": "x86_64",
        "bios_release_date": "01/01/2020",
        "bios_vendor": "Example Inc.",
        "bios_version": "01012020",
        "cores_per_socket": 4,
        "katello_agent_running": false,
        "number_of_cpus": 16,
        "number_of_sockets": 4,
        "os_kernel_version": "3.10.0",
        "os_release": "Red Hat Enterprise Linux Server release 7.7 (Maipo)",
        "satellite_managed": true,
        "subscription_status": "Fully entitled",
        "system_memory_bytes": 33564917760,
        "network_interfaces": [
          {
            "ipv4_addresses": ["{{ ipv4_addr }}"],
            "ipv6_addresses": ["{{ ipv6_addr }}"],
            "mac_address": "{{ mac_addr }}",
            "name": "ens1f0"
          }
        ],
        "installed_products": [
          {
            "name": "Red Hat Enterprise Linux Server",
            "id": "69"
          }
        ],
        "cpu_flags": [
          "fpu",
          "vme",
          "de",
          "pse",
          "tsc",
          "msr",
          "pae",
          "mce",
          "cx8",
          "apic",
          "sep",
          "mtrr",
          "pge",
          "mca",
          "cmov",
          "pat",
          "pse36",
          "clflush",
          "mmx",
          "fxsr",
          "sse",
          "sse2",
          "ht",
          "syscall",
          "nx",
          "mmxext",
          "fxsr_opt",
          "pdpe1gb",
          "rdtscp",
          "lm",
          "3dnowext",
          "3dnow",
          "constant_tsc",
          "art",
          "rep_good",
          "nopl",
          "nonstop_tsc",
          "extd_apicid",
          "pni",
          "monitor",
          "cx16",
          "popcnt",
          "lahf_lm",
          "cmp_legacy",
          "svm",
          "extapic",
          "cr8_legacy",
          "abm",
          "sse4a",
          "misalignsse",
          "3dnowprefetch",
          "osvw",
          "ibs",
          "hw_pstate",
          "retpoline_amd",
          "ibp_disable",
          "vmmcall",
          "npt",
          "lbrv",
          "svm_lock"
        ],
        "installed_packages": [{% for p in packages %}"{{ p }}"{% if not loop.last %},{% endif %}{% endfor %}]
      }
    },
    "platform_metadata": {
      "account": "{{ account }}",
      "category": "something",
      "metadata": {
        "reporter": "yupana",
        "stale_timestamp": "{{ tommorowz }}"
      },
      "request_id": "upload-service-aaaaaaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa",
      "principal": "54322",
      "service": "advisor",
      "size": 207553,
      "url": "https://upload-perf.s3.amazonaws.com/upload-service-aaaaaaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=aaaaaaaaaaaaaaaaaaaa%2F20210512%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210512T183754Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "b64_identity": "{{ b64_identity }}",
      "timestamp": "{{ nowz }}",
      "elapsed_time": "1620844675.1790125"
    }
}
