{
    "operation":"add_host",
    "data": {
      "account": "{{ account }}",
      "fqdn": "{{ fqdn }}",
      "subscription_manager_id": "{{ subscription_manager_id }}",
      "insights_id": "{{ insights_id }}",
      "bios_uuid": "{{ bios_uuid }}",
      "machine_id": "1bbed92a-febe-419b-91b6-3a9f3205876d",
      "ip_addresses": ["{{ ipv4_addr }}", "{{ ipv6_addr }}", "127.0.0.1"],
      "mac_addresses": ["{{ mac_addr }}"],
      "stale_timestamp": "{{ tommorowz }}",
      "reporter": "puptoo",
      "system_profile": {
        "owner_id": "{{ owner_id }}",
        "arch": "x86_64",
        "system_purpose": {{ system_purpose }},
        "ansible": {{ ansible }},
        "bios_release_date": "04/01/2014",
        "bios_vendor": "SeaBIOS",
        "bios_version": "1.11.0-2.el7",
        "subscription_status": "{{ subscription_status }}",
        "subscription_auto_attach": "{{ subscription_status }}",
        "katello_agent_running": {{ katello_agent_running }},
        "cloud_provider": "{{ cloud_provider }}",
        "cpu_flags": ["fpu", "vme", "de", "pse", "tsc", "msr", "pae", "mce", "cx8", "apic", "sep", "mtrr", "pge", "mca", "cmov", "pat", "pse36", "clflush", "mmx", "fxsr", "sse", "sse2", "ht",
          "syscall", "nx", "mmxext", "fxsr_opt", "pdpe1gb", "rdtscp", "lm", "3dnowext", "3dnow", "constant_tsc", "art", "rep_good", "nopl", "nonstop_tsc", "extd_apicid", "pni",
          "monitor", "cx16", "popcnt", "lahf_lm", "cmp_legacy", "svm", "extapic", "cr8_legacy", "abm", "sse4a", "misalignsse", "3dnowprefetch", "osvw", "ibs", "hw_pstate", "retpoline_amd",
          "ibp_disable", "vmmcall", "npt", "lbrv","svm_lock"],
        "number_of_cpus": 1,
        "number_of_sockets": 1,
        "cores_per_socket": 1,
        "enabled_services": [{% for index in range(enabled_services|length) %} {% if index < enabled_services|length-1 %}"{{ enabled_services[index] }}",{% else %}"{{ enabled_services[index] }}"{% endif %}{% endfor %}],
        "disk_devices": {{ disk_devices }},
        "sap_sids": {{ sap_sids }},
        "rpm_ostree_deployments": {{ rpm_ostree_deployments }},
        "sap_system": "{{ sap_system }}",
        "sap_instance_number": "{{ sap_instance_number }}",
        "sap_version": "{{ sap_version }}",
        "installed_services": [{% for index in range(installed_services|length) %} {% if index < installed_services|length-1 %}"{{ installed_services[index] }}",{% else %}"{{ installed_services[index] }}"{% endif %}{% endfor %}],
        "infrastructure_type": "virtual",
        "infrastructure_vendor": "kvm",
        "kernel_modules": ["tcp_diag", "udp_diag", "inet_diag", "dm_mod", "binfmt_misc", "intel_rapl_msr", "intel_rapl_common", "nfit", "libnvdimm", "kvm_intel", "kvm", "cirrus", "drm_kms_helper", "irqbypass", "crct10dif_pclmul", "syscopyarea", "sysfillrect", "crc32_pclmul", "sysimgblt", "fb_sys_fops", 
          "ghash_clmulni_intel", "drm", "joydev", "pcspkr", "virtio_balloon", "i2c_piix4", "sunrpc", "vfat", "fat", "ip_tables", "xfs", "libcrc32c", "ata_generic", "ata_piix", "libata", "virtio_net", "crc32c_intel", "net_failover", "serio_raw", "failover", "virtio_blk"],
        "captured_date": "2020-07-02T18:28:11+00:00",
        "last_boot_time": "2020-07-02T15:56:11Z",
        "network_interfaces": [
          {
            "ipv4_addresses": ["{{ ipv4_addr }}"],
            "ipv6_addresses": ["{{ ipv6_addr }}"],
            "mac_address": "{{ mac_addr }}",
            "name": "ens1f0"
          }
        ],
        "os_kernel_version": "3.10.0",
        "os_kernel_release": "193.6.3.el8_2",
        "os_release": "Red Hat Enterprise Linux Server release 7.7 (Maipo)",
        "running_processes": [{% for index in range(running_processes|length) %} {% if index < running_processes|length-1 %} "{{ running_processes[index] }}", {% else %} "{{ running_processes[index] }}" {% endif %} {% endfor %}],
        "system_memory_bytes": 1915719680,
        "yum_repos": [{% for index in range(yum_repos|length) %} {% if index < yum_repos|length-1 %}{{ yum_repos[index] }},{% else %}{{ yum_repos[index] }}{% endif %}{% endfor %}],
        "dnf_modules": [{"name": "satellite-5-client", "stream": "1.0"}, {"name": "virt", "stream": "rhel"}],
        "insights_client_version": "3.0.13-1",
        "insights_egg_version": "3.0.172-1",
        "satellite_managed": "false",
        "is_marketplace": {{ is_marketplace }},
        "rhc_client_id": "{{ rhc_client_id }}",
        "host_type": "edge",
        "greenboot_status": "green",
        "greenboot_fallback_detected": "true",
        "rhc_config_state": "{{ rhc_config_state }}",
        "installed_products": [{"name": "Red Hat Enterprise Linux Server", "id": "69"}],
        "gpg_pubkeys": {{ gpg_pubkeys }}
      }
    },
    "platform_metadata": {
      "account": "{{ account }}",
      "category": "something",
      "metadata": {"reporter": "", "stale_timestamp": "0001-01-01T00:00:00Z"},
      "request_id": "upload-service-aaa/aaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa",
      "principal": "54322",
      "service": "advisor",
      "size": 207553,
      "url": "https://upload-perf.s3.amazonaws.com/upload-service-aaaaaaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=aaaaaaaaaaaaaaaaaaaa%2F20210512%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210512T183754Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "b64_identity": "{{ b64_identity }}",
      "timestamp": "2021-05-12T18:37:54.165446172Z",
      "elapsed_time": "1620844675.1790125"
    }
}
