{
    "operation":"add_host",
    "data":{
        "account":"{{ account }}",
        "subscription_manager_id":"{{ subscription_manager_id }}",
        "bios_uuid":"{{ bios_uuid }}",
        "ip_addresses":["{{ ipv4_addr }}","{{ ipv6_addr }}","127.0.0.1"],
        "fqdn":"{{ fqdn }}",
        "mac_addresses":["{{ mac_addr }}"],
        "facts":[
            {
                "namespace":"rhsm",
                "facts":{
                    "SYNC_TIMESTAMP":"{{ nowz }}",
                    "IS_VIRTUAL":true,
                    "CPU_SOCKETS":1,
                    "MEMORY":16,
                    "CPU_CORES":2,
                    "ARCHITECTURE":"x86_64",
                    "RH_PROD":["69"],
                    "orgId":"{{ orgid }}"
                }
            }
        ],
        "stale_timestamp": "{{ tommorowz }}",
        "reporter": "test"
    },
    "platform_metadata": {
      "account": "{{ account }}",
      "category": "something",
      "metadata": {
        "reporter": "rhsm",
        "stale_timestamp": "{{ tommorowz }}"
      },
      "request_id": "upload-service-aaaaaaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa",
      "principal": "54322",
      "service": "advisor",
      "size": 207553,
      "url": "https://upload-perf.s3.amazonaws.com/upload-service-aaaaaaaaaa-aaaaa/aaaaaaaaaa-aaaaaaa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=aaaaaaaaaaaaaaaaaaaa%2F20210512%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210512T183754Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "b64_identity": "{{ b64_identity }}",
      "timestamp": "{{ nowz }}",
      "elapsed_time": "1620844675.1790125"
    }
}
