{
        "version": "1.0.0",
        "bundle": "console",
        "application": "integrations",
        "event_type": "integration-disabled",
        "timestamp": "{{ nowz }}",
        "org_id": "12345",
        "events": [{
                "metadata": {
                        "test-metadata-key": "test-metadata-value4",
                        "id": "{{ notifications_id }}"
                },
                "payload": {
                        "test-payload-key": "test-payload-value4"
                }
        }]

}
