{
        "version": "1.0.0",
        "bundle": "{{ bundle }}",
        "application": "{{ application }}",
        "event_type": "{{ event_type }}",
        "timestamp": "{{ nowz }}",
        "org_id": "12345",
        "events": [{
                "metadata": {
                        "test-metadata-key": "test-metadata-value4",
                        "id": "{{ notifications_id }}"
                },
                "payload": {
                        "test-payload-key": "test-payload-value4"
                }
        }]

}
