{
  "b64_identity": "{{ b64_identity }}",
  "events": [
    {
      "counter": -1,
      "end_line": 0,
      "event": "executor_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "{{ correlation_id }}"
      },
      "start_line": 0,
      "stdout": "",
      "uuid": ""
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "{{ correlation_id }}",
        "playbook": "/var/lib/rhc-worker-playbook/{{ run_id }}.yaml",
        "playbook_uuid": "{{ run_id }}"
      },
      "start_line": 0,
      "uuid": "{{ opl_gen.gen_uuid() }}"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_play_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "{{ opl_gen.gen_uuid() }}"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_task_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "5255554f-128b-c3c0-0eaa-00000000000b"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "17f6345a-cd7b-4a90-b457-a026ede1bd95"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "f6fb2ae1-6c62-4c9c-ad8c-182c63dfc6f0"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "c9e41ccb-0aa3-4c29-befb-57431f1b049e"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_play_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "5255554f-128b-c3c0-0eaa-000000000004"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_task_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "5255554f-128b-c3c0-0eaa-00000000001a"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "f37ccac6-61fc-4544-bf4d-98e4e4cf3f9f"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "d105b92d-55f5-4c72-8ddd-0e6e19b5df97"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "7a946cd4-d816-4f3b-b2b0-620d76095b02"
    },
    {
      "counter": -1,
      "end_line": 0,
      "event": "playbook_on_stats",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 0,
      "uuid": "90afa95e-b537-4807-8af9-87252093cd61"
    },
    {
      "counter": 1,
      "end_line": 1,
      "event": "verbose",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9"
      },
      "start_line": 0,
      "stdout": "[WARNING]: provided hosts list is empty, only localhost is available. Note that",
      "uuid": "601ed66c-c1b7-4fcd-b74e-89fdeb582e56"
    },
    {
      "counter": 2,
      "end_line": 2,
      "event": "verbose",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9"
      },
      "start_line": 1,
      "stdout": "the implicit localhost does not match 'all'",
      "uuid": "d1a1f272-7c6a-464f-9fc3-992942899674"
    },
    {
      "counter": 3,
      "end_line": 2,
      "event": "playbook_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 2,
      "stdout": "",
      "uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
    },
    {
      "counter": 4,
      "end_line": 4,
      "event": "playbook_on_play_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 2,
      "stdout": "\r\nPLAY [Set owner and permissions on /etc/sshd/sshd_config to root:root 0600] ****",
      "uuid": "5255554f-128b-c3c0-0eaa-000000000001"
    },
    {
      "counter": 5,
      "end_line": 6,
      "event": "playbook_on_task_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 4,
      "stdout": "\r\nTASK [Gathering Facts] *********************************************************",
      "uuid": "5255554f-128b-c3c0-0eaa-00000000000b"
    },
    {
      "counter": 6,
      "end_line": 6,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 6,
      "stdout": "",
      "uuid": "17f6345a-cd7b-4a90-b457-a026ede1bd95"
    },
    {
      "counter": 7,
      "end_line": 7,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 6,
      "stdout": "ok: [localhost]",
      "uuid": "f6fb2ae1-6c62-4c9c-ad8c-182c63dfc6f0"
    },
    {
      "counter": 8,
      "end_line": 9,
      "event": "playbook_on_task_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 7,
      "stdout": "\r\nTASK [Set the owner and permissions of ssh config file to root:root 0600] ******",
      "uuid": "5255554f-128b-c3c0-0eaa-000000000003"
    },
    {
      "counter": 9,
      "end_line": 9,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 9,
      "stdout": "",
      "uuid": "89ba6b49-413e-4862-a7c8-23ab682ef71f"
    },
    {
      "counter": 10,
      "end_line": 10,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 9,
      "stdout": "ok: [localhost]",
      "uuid": "c9e41ccb-0aa3-4c29-befb-57431f1b049e"
    },
    {
      "counter": 11,
      "end_line": 12,
      "event": "playbook_on_play_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 10,
      "stdout": "\r\nPLAY [run insights] ************************************************************",
      "uuid": "5255554f-128b-c3c0-0eaa-000000000004"
    },
    {
      "counter": 12,
      "end_line": 14,
      "event": "playbook_on_task_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 12,
      "stdout": "\r\nTASK [Gathering Facts] *********************************************************",
      "uuid": "5255554f-128b-c3c0-0eaa-00000000001a"
    },
    {
      "counter": 13,
      "end_line": 14,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 14,
      "stdout": "",
      "uuid": "f37ccac6-61fc-4544-bf4d-98e4e4cf3f9f"
    },
    {
      "counter": 14,
      "end_line": 15,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 14,
      "stdout": "ok: [localhost]",
      "uuid": "d105b92d-55f5-4c72-8ddd-0e6e19b5df97"
    },
    {
      "counter": 16,
      "end_line": 17,
      "event": "runner_on_start",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 17,
      "stdout": "",
      "uuid": "91ce9f78-f6f3-4839-8831-faf87c8246fd"
    },
    {
      "counter": 17,
      "end_line": 18,
      "event": "runner_on_ok",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "host": "localhost",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 17,
      "stdout": "ok: [localhost]",
      "uuid": "7a946cd4-d816-4f3b-b2b0-620d76095b02"
    },
    {
      "counter": 18,
      "end_line": 22,
      "event": "playbook_on_stats",
      "event_data": {
        "crc_dispatcher_correlation_id": "688b9b86-dce2-4e95-8324-28065613ddb9",
        "playbook": "/var/lib/rhc-worker-playbook/0e29c806-ea93-4230-bfec-7f85987fd2b4.yaml",
        "playbook_uuid": "fd036e78-dcf7-40b6-8c44-4f16d13c7e1c"
      },
      "start_line": 18,
      "stdout": "\r\nPLAY RECAP *********************************************************************\r\nlocalhost                  : ok=4    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   ",
      "uuid": "90afa95e-b537-4807-8af9-87252093cd61"
    }
  ],
  "org_id": "12345678",
  "request_id": "01234567890123456789012345678901",
  "upload_timestamp": "2025-01-09T11:18:43-06:00"
}
