[{
    "org_id": "{{ org_id }}",
    "recipient": "{{ recipient }}",
    "url": "http://perf-example.com",
    "labels": {
        "foo": "1234",
        "baz": "{}"
    },
    "name":"Remediation playbook",
    "principal": "test-user"
}]
